<dialog id="import_obligations_modal" class="modal">

    <div
    class="modal-box overflow-y-hidden"
    style="width:1200px; max-width:700px;"
>

        <div class="flex items-center justify-between mb-6">
            <div class="flex flex-col justify-start gap-3">
                <h2 class="text-xl font-semibold">
                    Historial de cargue de obligaciones
                </h2>

                <p class="text-xs text-base-content/60">A continuacion se cargara el historial de carga de obligaciones.</p>
            </div>

            <form method="dialog">

                <button class="btn btn-sm btn-circle">
                    ✕
                </button>

            </form>

        </div>

        {% if logs %}

            <div class="max-h-[600px] overflow-y-auto pr-2 space-y-4 pb-28">

              {% for log in logs %}

                <div class="border-l-2 border-primary pl-5 pb-2 gap-2">
                    <div class="flex flex-row justify-between">
                        <p class="font-medium">
                            Archivo:  {{ log.file }} <span class="px-10 italic text-sm font-bold"></span>
                        </p>
                        <p>{{ log.get_status_display }}</p>
                    </div>
                    <p class="text-sm text-base-content/60">
                        Subido por: {{ log.user.username }} - {{log.created_at}}
                    </p>
                    <p class="text-xs italic">{{ log.detail }}</p>
                </div>

            {% endfor %}

            </div>

        {% else %}

            <div class="text-center py-10 text-base-content/60">

                No existen registros de envíos.

            </div>

        {% endif %}

    </div>

    <form method="dialog" class="modal-backdrop">
        <button>Cerrar</button>
    </form>

</dialog>